body {
  background-image: 
    url('https://cdn.pixabay.com/photo/2016/08/12/20/14/yellowstone-national-park-1589616_960_720.jpg');
  background-size: cover; 
  /* background-color: #ff8c69; */
  /* color: white; */
}

.App {
  text-align: center;
}

.navbar {
  border-color: white;
}

.search {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(160, 153, 167, 0.418);
  color: white;
}

.profile {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: black;
}

/* .custom {
  cursor: url(images/my-cursor.png), auto;
} */

.row {
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  margin-top: 50px;
  color: white;
  font-weight: bold;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.185);
}

.card-title {
  font-weight: bold;
}

.list-group-item{
  background-color: rgba(104, 93, 93, 0.384);
  color: white;
  font-weight: bold;
} 

.card-link {
  cursor: pointer
}

.searchButton {
  margin-top: 28px;
  background-color: white;
  color: black;
  border-color: black;
  width: 200px;
};

.searchButton:hover {
  background-color: pink;
};
