@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


body {
  background-image: 
    url('https://cdn.pixabay.com/photo/2016/08/12/20/14/yellowstone-national-park-1589616_960_720.jpg');
  background-size: cover; 
  /* background-color: #ff8c69; */
  /* color: white; */
}

.App {
  text-align: center;
}

/* .navbar {
  border-color: white;
  color: white;
} */

.search {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(160, 153, 167, 0.418);
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.profile {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: black;
}

/* .custom {
  cursor: url(images/my-cursor.png), auto;
} */

.row {
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  margin-top: 50px;
  color: white;
  font-weight: bold;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.185);
  font-family: 'Work Sans', sans-serif;
}

.card:hover {
  box-shadow: 5px 5px 20px;
}

.card-title {
  font-weight: bold;
}

.list-group-item{
  background-color: rgba(104, 93, 93, 0.384);
  color: white;
  font-weight: bold;
} 

.card-link {
  cursor: pointer
}

.card-img-top {
  opacity: 0.8;
}

.searchButton {
  margin-top: 28px;
  background-color: rgba(245, 240, 240, 0.897);
  color: black;
  border-color: black;
  width: 200px;
}

.searchButton:hover {
  color: black;
  background-color: pink;
}

.profileButton {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.459);
  border-color: black;
  color: black;
}

.profileButton:hover {
  color: black;
  background-color: pink;
}

.updateButton {
  margin-top: 28px;
  background-color: rgba(245, 240, 240, 0.897);
  color: black;
  border-color: black;
  width: 200px;
}

.updateButton:hover {
  color: black;
  background-color: rgba(245, 186, 196, 0.932);
}

.profileJumbo {
  width: 700px;
  margin-left: 740px;
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(219, 220, 224, 0.37);
  color: white;
  border-color: black;
  text-align: center;
}

.updateJumbo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(219, 220, 224, 0.041);
  color: white;
  border-color: black;
}

.nav-link {
  font-size: 25px;
}






