.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1557242836-b5ab8bb0ebb4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
}

.navbar {
  text-align: center;
}

.link {
  margin: 2rem;
  font-size: 2rem;
}

.home {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.rivers {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.profile {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

